html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1 0 auto;
}

.footerClass {
  opacity: 1 !important;
  background-color: transparent;
  opacity: 0.6;
  filter: Alpha(opacity=60); /* IE8 and earlier */
  margin-top: 2em;
  float: left;
  width: 100%;
  height: 80px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  line-height: 1em;
}

.headingSection {
  background: url(/images/intelliMindImg.png) no-repeat;
  background-size: 100%;
  min-height: 100%;
  height: 400px;
  width: 1200px;
}

.remove-padding {
  padding: 0;
  margin: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.textClass {
  font-family: "Julius Sans One", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #565656;
}

.textMargin0 {
  margin: 0 !important;
}

.customEmail {
  bottom: 0;
  right: 0;
  position: fixed;
  margin-right: 20px !important;
}

.fontsize10 {
  font-size: 10px !important;
}

.page-footer {
  background: transparent !important;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.NavClass {
  margin-bottom: 60px;
  background: transparent !important;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
